/* ---
------- COLORPICKER
--- */

.colorpicker__gripImg {
    svg {
        position: absolute;
        right: 180%;
        top: 35%;
        transform-origin: top right;
        transform: rotate(270deg);
    }

    @include mobile-landscape {
        svg {
            right: 149%;
        }
    }

     @include tablet-further {
         svg {
             display: none;
         }
    }
}

.colorpicker__inkImg {
    svg {
        position: absolute;
        left: -7%;
        top: 35%;
        transform-origin: top right;
        transform: rotate(270deg);
    }

    @include mobile-landscape {
        svg {
            left: 4%;
        }
    }

    @include tablet-further {
        svg {
            display: none;
        }
    }
}

.colorpicker__inkWrap {
  display: block;

    &.is-active {
        display: none;
    }
}

.colorpicker__choice {
    padding-bottom: rem(50);

    @include tablet-further {
        display: block!important;
        padding: 0 rem(30) 0;
    }
}

.colorpicker__ink {
    @include tablet-further {
        margin: 0 auto rem(35);
        padding: rem(20) 0 0;
        border: rem(1) solid $color-grey-light;
        border-radius: rem(8);
    }
}

.colorpicker__inkList {
    padding: 0 2rem 2rem;
    list-style-type: none;
    font-size: 0;
}

.colorpicker__inkItem {
  position: relative;
  display: inline-block;
  width: 16.66%;
  height: rem(39);
  margin-top: rem(40);
  background-color: transparent;
  transition: .15s ease-in-out;

  &.is-selected:after {
    border: rem(1) solid $text-font-color;
  }

    &:after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: rem(32);
        width:rem(32);
        border-radius: rem(20);
        border-color: transparent;
        background-color: $yellow-picker;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }
    &.is-active {
        background-color: transparent;

        &:after {
            border: rem(4) solid #FFF;
            box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.24);
        }
    }

    &:nth-of-type(2):after {
        background: $orange-picker;
    }

    &:nth-of-type(3):after {
        background: $darkrose-picker;
    }

    &:nth-of-type(4):after {
        background: $lightrose-picker;
    }

    &:nth-of-type(5):after {
        background: $lightpurple-picker;
    }

    &:nth-of-type(6):after {
        background: $darkpurple-picker;
    }

    &:nth-of-type(7):after {
        background: $lightblue-picker;
    }

    &:nth-of-type(8):after {
        background: $darkblue-picker;
    }

    &:nth-of-type(9):after {
        background: $lightgreen-picker;
    }

    &:nth-of-type(10):after {
        background: $darkgreen-picker;
    }

    &:nth-of-type(11):after {
        background: $dark-picker;
    }

    &:nth-of-type(12):after {
        background: $brown-picker;
    }

    @include tablet-further {
        margin-top: rem(30);
    }
}

.colorpicker__btnWrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: 4rem 0 0;
    @include tablet-further {
        display: none;
    }
}
/* END COLORPICKER PART */
