footer.footer
    img.footer__logo(src='/images/logo-bic.svg' alt='')
    ul.footer__socialList
        li.footer__socialItem
            a.social-list--link(href='' target='_blank')
                i.fa.fa-facebook  
        li.footer__socialItem
            a.social-list--link(href='' target='_blank')
                i.fa.fa-linkedin   
        li.footer__socialItem
            a.social-list--link(href='' target='_blank')
                i.fa.fa-instagram
        li.footer__socialItem
            a.social-list--link(href='' target='_blank')
                i.fa.fa-youtube-play
script(type='text/javascript' src='../js/main.js')
