mixin svgPen(id)
    <svg width="85px" height="708px" viewBox="0 0 119 991" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
    <path d="M45.5,424.5 L48.1677231,439.99675 L46.1238003,443.441782 L44,508 C47.6666667,596 49.5,653.5 49.5,680.5 C49.5,707.5 49.5,755.5 49.5,824.5 C54.1666667,905.5 63.6666667,955 78,973 C78,973 85.3333333,973 100,973 C114,949 122.666667,909.5 126,854.5 C131,772 119,767 126,539 C126,539 125.833333,538.166667 125.5,536.5 L126,499.5 L123.009782,446.008315 L119.650069,437.573454 L121.5,419 L45.5,424.5 Z" id="path-1"></path>
    </defs>
    <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-436.000000, -6.000000)">
    <g id="1" transform="translate(425.000000, 0.000000)">
    <image xlink:href="/images/pen_background.png" alt="" id="BasePNG" x="0" y="0" width="167" height="1000"></image>
    <g id="Tube" transform="translate(44.000000, 419.000000)"></g>
    <mask id="mask-#{id}" fill="white">
    <use xlink:href="#path-1"></use>
    </mask>
    <g id="Mask"></g>
    <path d="M126,532.5 C121.333333,560.5 113.666667,574.5 103,574.5 C92.3333333,574.5 81.8333333,563.833333 71.5,542.5 C54.8333333,507.166667 45.6666667,495.5 44,507.5 C44,507.5 41.5,507.5 36.5,507.5 L36.5,871.5 C46.8333333,871.5 51.8333333,871.5 51.5,871.5 C72.5,875.5 97,916 123.5,880.5 C123.5,880.5 128.166667,880.5 137.5,880.5 L137.5,532 L126,532.5 Z" id="bic-bodyColor" class="js-element-grip" fill-opacity="0.5" fill="#FFF" mask="url(#mask-#{id})"></path>
    <g id="ColorsSelector" mask="url(#mask-#{id})">
    <g transform="translate(43.000000, 98.000000)"></g>
    </g>
    <path d="M69.0419922,228.565918 L68.6359863,97.9504395 L52,98.2890625 L43.28125,105.703125 C44.4270833,119.901042 47.3333333,130.5 52,137.5 C52,137.5 52,233 52,233 C55.6666667,236.666667 61.3473307,235.188639 69.0419922,228.565918 Z" id="bic-color1" class="js-element-customLeft" fill="#FFF" stroke="#FFF" opacity="0.5"></path>
    <path d="M91.9536133,99.2978516 C90.3720703,109.162842 90.4885254,145.209473 90.4885254,164.135742 C90.4885254,176.753255 90.6166992,197.889974 90.8730469,227.545898 C97.6464844,235.128581 104.366536,236.753255 111.033203,232.419922 C111.033203,232.419922 110.69401,202.064941 110.015625,141.35498 C116.081706,120.32015 118.488118,108.530762 117.234863,105.986816 C117.234863,105.986816 108.199707,99.2978516 108.199707,99.2978516 C108.199707,99.2978516 91.9536133,99.2978516 91.9536133,99.2978516 Z" id="bic-color2" class="js-element-customRight" fill="#FFF" stroke="#FFF" opacity="0.5"></path>
    </g>
    </g>
    </svg>
